@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Orange Line Highlight for Monaco Editor */
.orangeLineHighlight {
    background-color: rgba(255, 165, 0, 0.3); /* Semi-transparent orange */
    border-left: 3px solid orange; /* Solid orange border on the left */
}

/* Green Line Highlight for Correct Lines */
.greenLineHighlight {
    background-color: rgba(0, 128, 0, 0.3); /* Semi-transparent green */
    border-left: 3px solid green; /* Solid green border on the left */
}

/* Red Line Highlight for Incorrect Selections */
.redLineHighlight {
    background-color: rgba(255, 0, 0, 0.3); /* Semi-transparent red */
    border-left: 3px solid red; /* Solid red border on the left */
}

.text-glow {
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.7),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 20px rgba(255, 255, 255, 0.5);
}

.editor-container:hover {
    cursor: pointer !important;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}